#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

html, body {
    width:100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 18px;
}

#container {
  margin: 400px 0 0 0;
  padding: 0 0 200px 0;
  background: #5941c2;
}

#header {
  width: 75%;
  margin: 0 auto 0 auto;
}

h1 {
    font-size: 72px;
    color: #fff;
}

h2 {
    font-size: 36px;
    color: #7c89cb;
    font-weight: normal;
    margin: -40px 0 0 0;
}

#social {
  width: 75%;
  margin: 0 auto 0 auto;
  padding: 0 0 10px 0;
}
    #social a {
        padding: 10px 15px;
        -moz-border-radius: 6px;
        border-radius: 6px;
        text-decoration: none;
        margin: 0 4px 0 4px;
        border: 1px solid #fff;
    }

        #social a.facebook {
             background: #3c55a3;
             color: #fff;
        }

        #social a:hover.facebook {
             background: #fff;
             color: #3c55a3;
             border: 1px solid #3c55a3;
        }

        #social a.twitter {
             background: #11aaf3;
             color: #fff;
        }

        #social a:hover.twitter {
             background: #fff;
             color: #11aaf3;
             border: 1px solid #11aaf3;
        }

        #social a.email {
             background: #99999e;
             color: #fff;
        }

        #social a:hover.email {
             background: #fff;
             color: #99999e;
             border: 1px solid #99999e;
        }

    #social p {
        line-height: 60px;
    }


    .profile {
        float: right;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        background: url('../img/mark.jpg');
        background-size: 380px;
        background-position: -100px -100px;
        margin: 0 0 0 50px;
    }

@media screen and (max-width: 940px) {

  .profile {
    float: none;
    margin: -200px auto 0 auto;
  }

  #canvas {
    top: -100px;
  }

}

@media screen and (max-width: 640px) {

  .profile {
    float: none;
    margin: -250px auto 0 auto;
  }

  #canvas {
    top: -150px;
  }

}
